   img{
    height:450px;
    width: 100%;
    object-fit: cover;
    filter: brightness(40%);
    position: relative;
   }

   .para{
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    padding: 12px 14px;
    border-radius: 50px;
   }